*{


    margin: 0px;
    padding: 0px;
}

header{



}


*{


    margin: 0px;
    padding: 0px;
}

header{

background: #f6f9f9;
padding: 15px 0;
}


.header_wrapper{

width: 80%;

display: flex;

justify-content: space-between;

margin: auto;

align-items: center;


}

.logo{

width: 20%;
}


.logo img{



}

nav{

width: 50%;
}


nav ul{

display: flex;

justify-content: end;

list-style: none;
}

nav ul li{

/* list-style: none; */

margin-left: 50px;
}

nav ul li a{

text-decoration: none;

font-size: 16px;

text-transform: uppercase;

color: #2d3950;
}




.banner{

position: relative;
}
.banner img{

width: 100%;
}

.banner_content{

position: absolute;

top: 50%;

left: 50%;

transform: translate(-50%, -50%);

text-align: center;
}

.banner_content h1{

color: #fff;

font-size: 80px;
}

.banner_content span{

display: block;

height: 2px;

width: 100%;

background: #15a4fa;
}

.banner_content p{

color: #fff;

margin: 20px 0 40px;
}

.banner_content button{

background: transparent;

border: none;

border: 1px solid #15a4fa;

font-size: 14px;

padding: 10px 20px;

border-radius: 3px;

color: #fff;
}

.banner_content button:hover{

    background:#15a4fa ;
    transition: 0.5 ease-in-out;
}

.icon{

position: absolute;

bottom: 100px;

left: 50%;
top:80%

transform: translate(-50%,);

color: #fff;

font-size: 20px;
animation: updown 0.8s linear infinite ;
animation-direction: alternate;

}

@keyframes updown{

0%{

    top:80%
}

100%{
    top:85%

}

}


.feature_text{

background: #f6f9f9;

padding: 70px 0;
}

.main_text{

width: 80%;

margin: auto;

text-align: center;
}

.main_text h1{

color: #2d3950;

font-size: 35px;

margin-bottom: 20px;

font-weight: 400;
}

.main_text p{

color: #999999;

font-size: 18px;

font-weight: 400;
}


.feature_section{


}

.feature_wrapper{

width: 80%;

margin: auto;

padding: 50px 0;

display: flex;

justify-content: space-between;
}

.feature_item{

width: 30%;

text-align: center;
}

.feature_item h2{

padding: 15px 0;
}

.feature_item p{



}




.icon_box{

height: 70px;

width: 70px;

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48baff+0,48baff+50,5fc3ff+50,5fc3ff+50,5fc3ff+50,5fc3ff+50,5fc3ff+50,5fc3ff+50,5fc3ff+50,5fc3ff+100 */

background: linear-gradient(to right,  #48baff 0%,#48baff 50%,#5fc3ff 50%,#5fc3ff 50%,#5fc3ff 50%,#5fc3ff 50%,#5fc3ff 50%,#5fc3ff 50%,#5fc3ff 50%,#5fc3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

margin: auto;

display: flex;

justify-content: center;

align-items: center;

color: #fff;

font-size: 30px;

/* margin-bottom: 20px; */
}

.icon_box i{

text-shadow: 2px 2px 0px #8b7878;
}


.work_section{

background: #f6f9f9;
}
.work_wrapper{

width: 80%;

margin: auto;

text-align: center;

padding: 50px 0;
}


.work_wrapper h1{


    
}


.work_wrapper p{


    
}

.works{

margin: 50px 0;

/* display: flex; */
}

.work{

/* width: 30%; */

display: flex;

flex-wrap: wrap;

justify-content: space-between;
}

.work img{


width: 100%;
display: block;

}

.work_img{

position: relative;

overflow: hidden;

width: 32%;

margin-bottom: 20px;
}

.work_img ul{

list-style: none;

display: flex;

position: absolute;

top: 55%;

left: 50%;

transform: translate(-50%, -50%);
opacity: 0;
transition: .4s ease-in-out;
z-index: 1;
}

.work_img ul li{

border: 1px solid #fff;

height: 30px;

width: 30px;

display: flex;

/* text-align: center; */

align-items: center;

margin: 2px;

justify-content: center;

border-radius: 3px;
}

.work_img ul li a{

color: #fff;
}

.work_img:hover ul{

    opacity: 1;
    top: 50%;
}

.work_img::after{

content: "";

position: absolute;

left: -128px;

top: 49%;

width: 0;

height:0;

background: red;

opacity: 0.5;

transition: .4s ease;

opacity: 1;

transform: rotate(144deg);
}


.work_img::before{

content: "";

position: absolute;

top: -76%;

left: -215px;

bottom:0%;

width: 0;

height: 0;

background: #15a4fa;

opacity: 0.5;

transition: .4s ease;

opacity: 1;

transform: rotate(145deg);
}

.work_img:hover::after{

height: 100%;

width: 204%;
}


.work_img:hover::before{

height: 152%;

width: 152%;
}

.stay_with_us{

padding: 70px 0;
background-image: url(../images/contact.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
z-index: 0;

}

.stay_with_us::before{
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background: #2d3950;
opacity: .8;
z-index: -1;

}
.form_wrapper{

width: 35%;

margin: auto;
}

.form_wrapper form{

    
}

.form_wrapper form input{
color: #fff;
width: 100%;

background: transparent;

border: none;

border: 1px solid #fff;

margin-bottom: 10px;

padding: 10px;

border-radius: 5px;
}

.form_wrapper form textarea{
color: #fff;
width: 100%;

background: transparent;

border: none;

border: 1px solid #fff;

border-radius: 5px;

margin-bottom: 10px;

padding: 10px;
}

.subscribe{

display: flex;

justify-content: space-between;

align-items: center;

width: 105%;
}

.subscribe p{

color: #fff;

display: inline-block;

margin-left: 10px;
}

.subscribe input[ type="checkbox"]{

width: auto;
} 

.subscribe input[ type="submit"]{

color: #fff;

border-radius: 3px;

padding: 10px 20px;
} 

footer{

padding: 20px 0;

background: #f6f9f9;
}

.footer_wrapper{

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;

align-items: center;
}

.copyright{

width: 30%;
}

.copyright p{

font-weight: 500;

color: #999999;

font-size: 13px;
}

.social_icon{

width: 12%;
}

.social_icon ul{

list-style: none;

display: flex;

justify-content: space-between;
}

.social_icon ul li{

width: 30px;

height: 30px;

display: flex;

justify-content: center;

align-items: center;

background: #15a4fa;
}

.social_icon ul li a{

color: #fff;

font-size: 12px;
}

.social_icon ul li a i{


}
















